{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <h1 align="center">🌤️🌥️🌦️⛅☀Погода☀⛅🌦️🌥️🌤️</h1>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'weather/css/styles.css' %}" rel="stylesheet" />

    {%if b >= 27  %}
    <style>
        body {background-color:#ea572c;}
    </style>

    {%elif b >= 22  %}
    <style>
        body {background-color:#e0de57;}
    </style>

    {%elif b >= 16  %}
    <style>
        body {background-color:#ffe266;}
    </style>

    {%elif b >= 10  %}
    <style>
        body {background-color:#e5dece;}
    </style>

    {%elif b >= 0  %}
    <style>
        body {background-color:#dbdaff;}
    </style>

    {%elif b >= -10  %}
    <style>
        body {background-color:#8885ff;}
    </style>

    {%elif b >= -20  %}
    <style>
        body {background-color:#716dff;}
    </style>

    {%elif b >= -30  %}
    <style>
            body {background-color:#4b4cf2;}
    </style>

    {%else%}
        <style>
            body {background-color:#7400ed;}
        </style>



    {%endif%}


</head>
<body>
        <ul align="center" type="none">
            {%for m  in menu  %}
            <li align="center">
                ※
                <a href="{% url m.url_n %}">{{m.title}}</a>
                ※
            </li>
        {%endfor%}
        </ul>
{% block content %}
{% endblock %}
</body>
</html>

